{
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro",
				"astroCompressHTML": "html"
			}
		}
	],
	"printWidth": 110,
	"useTabs": true,
	"tabWidth": 2
}
