---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";
import { comparePostsByDate, getBlogPostPath } from "@utils/content";

const posts = (await getCollection("blog", ({ data }) => !data.draft)).sort(comparePostsByDate);
---

<Layout title="Blog" description="Articles and updates from Stateful CSS.">
	<main>
		<h1>Blog Home</h1>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={getBlogPostPath(post)}>{post.data.title}</a>
						<p>{post.data.description}</p>
						<time datetime={post.data.publishedAt.toISOString()}>
							{post.data.publishedAt.toLocaleDateString("en", {
								day: "numeric",
								month: "long",
								year: "numeric",
							})}
						</time>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
