---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="32x32" />
<link rel="sitemap" href="/sitemap-index.xml" />
<title>Stateful CSS</title>
<Font cssVariable="--font-switzer" preload />
<Font cssVariable="--font-jetbrains-mono" preload />
<ClientRouter />
