[data-theme="espresso"] {
	color-scheme: light dark;

	--t-color-accent: oklch(0.65 0.2 44);

	--t-color-background-app: light-dark(oklch(0.98 0.005 68), oklch(0.25 0.015 48));
	--t-color-foreground-app: light-dark(oklch(0.12 0.005 68), oklch(0.98 0.01 68));
}
