---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Page Not Found" description="The requested page could not be found." robots="noindex, follow">
	<main>
		<h1>Page Not Found</h1>
	</main>
</Layout>
